<div class="container mt-3">
  <div id="<%= dom_id issue %>">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Title</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0"><%= issue.title %></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Description</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0"><%= issue.description %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
