<div class="container mt-5">
<div class="d-flex justify-content-around text-white-50">
  <div class="card bg-transparent text-center">
    <div class="card-body">
      <h5 class="card-title">Final Year Project</h5>
      <p class="card-text">
        Labor Marketplace
      </p>
    </div>
  </div>
  <div class="card bg-transparent text-center">
    <div class="card-body">
      <h5 class="card-title">Developed By</h5>
      <p class="card-text">
        Ali Raaza SP19-BSE-001
      </p>
    </div>
  </div>
  <div class="card bg-transparent text-center">
    <div class="card-body">
      <h5 class="card-title">Superviosed By</h5>
      <p class="card-text">
        Mr. Syed Ameer Ahmad
      </p>
    </div>
  </div>
</div>
</div>
